{% extends 'pages/_base_layout.html' %}

{% block body %}

<h1>{{ page.title }}</h1>
<h4>{{ page.sub_title }}</h4>
<h5>From the {{ page.collection_title }} Collection</h5>

<section id="galleryGuide">
    <div class="container">
        <ul>
            <li><strong>Serves:</strong> {{ page.fields.servings }}</li>
            <li><strong>Oven Temp:</strong> {{ page.fields.ovenTemp }}</li>
            <li><strong>Prep Time:</strong> {{ page.fields.prepTime }}</li>
            <li><strong>Cook Time:</strong> {{ page.fields.cookTime }}</li>
            <li><strong>Category:</strong> {{ page.fields.categories }}</li>
        </ul>

        {% for element in page.blocks.ingr %}
            {{ getElementHtml(element) }}
        {% endfor %}

        {% for element in page.blocks.prep %}
            {{ getElementHtml(element) }}
        {% endfor %}

        {% for element in page.blocks.note %}
            {{ getElementHtml(element) }}
        {% endfor %}
    </div>
</section>

{% endblock %}