{% extends 'pages/_base_layout.html' %}

{% block body %}
<div class="hero hero--ratio">
        <div class="hero__content">
                <h1>{{ page.title }}</h1>
                <h4>{{ page.sub_title }}</h4>
          {{ data.content }}
      
        </div>
        <img class="hero__bg" src="{{ page.image_path }}" alt="Hero Image"/>
      </div>


<section id="galleryGuide">
    <div class="container">

        <ul>
            <li><strong>Serves:</strong> {{ page.settings.servings }}</li>
            <li><strong>Oven Temp:</strong> {{ page.settings.ovenTemp }}</li>
            <li><strong>Prep Time:</strong> {{ page.settings.prepTime }}</li>
            <li><strong>Cook Time:</strong> {{ page.settings.cookTime }}</li>
            <li><strong>Category:</strong> {{ page.settings.categories }}</li>
        </ul>

        {{ getBlockElementsHtml(page.blocks.ingr) }}

        {{ getBlockElementsHtml(page.blocks.prep) }}

        {{ getBlockElementsHtml(page.blocks.note) }}
        <h5>From the {{ page.collection_title }} Collection</h5>
    </div>
</section>

{% endblock %}