@charset "UTF-8";
/* Color Theme */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Lato:300,400,700");
:root {
  --clr-primary: #336699;
  --clr-secondary: #996633;
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-accent: orange;
  --clr-hover: gold;
}

:root {
  font-size: 14px;
}

@media (min-width: 576px) and (max-width: 991px) {
  :root {
    font-size: calc(14px + (18 - 14) * ((100vw - 576px) / (991 - 576)));
  }
}
@media (min-width: 991px) {
  :root {
    font-size: 18px;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 70px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  line-height: 1.5;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}
a:hover {
  color: orange;
}

img {
  width: 100%;
  display: block;
}

.container {
  margin: 0 auto;
  padding-bottom: 2rem;
  width: 90%;
  max-width: 991;
}

p {
  padding-bottom: 1em;
}

p:last-of-type {
  padding-bottom: 2rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  background: #336699;
  text-shadow: none;
  padding: 0.75em 1em;
  border: solid 1px black;
  border-radius: 7px;
  color: #fff;
  z-index: 999;
  transition: all ease-in-out 125ms;
}
.btn:hover {
  color: #336699;
  background: #996633;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #336699;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
@media Screen and (min-width: 768px) {
  .navbar {
    display: flex;
    padding: 0 1rem;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  display: block;
  text-align: center;
}
.navbar .nav-toggle,
.navbar .sub-nav-toggle {
  position: absolute;
  top: -9999px;
}
.navbar .nav-toggle-label {
  cursor: pointer;
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 1rem;
}
@media Screen and (min-width: 768px) {
  .navbar .nav-toggle-label {
    display: none;
  }
}
.navbar .nav-toggle-label span,
.navbar .nav-toggle-label span::before,
.navbar .nav-toggle-label span::after {
  width: 2rem;
  height: 4px;
  border-radius: 7px;
  background: white;
}
.navbar .nav-toggle-label span::before,
.navbar .nav-toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.navbar .nav-toggle-label span::before {
  top: 23px;
}
.navbar .nav-toggle-label span::after {
  bottom: 23px;
}
.navbar .nav-toggle:checked ~ .navbar,
.navbar .sub-nav-toggle:checked ~ .sub-nav {
  transform: scale(1, 1);
}
.navbar .nav-toggle:checked ~ .navbar a,
.navbar .nav-toggle:checked ~ .sub-nav-toggle-label {
  opacity: 1;
}
.navbar .sub-nav-toggle:checked ~ .sub-nav a {
  opacity: 1;
}
.navbar .nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}
.navbar .nav-toggle:checked ~ .nav-toggle-label span:before {
  transform: rotate(45deg);
  top: 36px;
}
.navbar .nav-toggle:checked ~ .nav-toggle-label span:after {
  transform: rotate(-45deg);
  bottom: 30px;
}
.navbar .topnav {
  background: #336699;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 125ms ease-in-out;
}
@media Screen and (min-width: 768px) {
  .navbar .topnav {
    transform: scale(1);
    flex: 1;
  }
}
.navbar .nav-toggle:checked ~ .topnav {
  transform: scale(1, 1);
}
.navbar .topnav ul {
  width: 100%;
  text-align: center;
  list-style: none;
}
@media Screen and (min-width: 768px) {
  .navbar .topnav ul {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
@media Screen and (min-width: 768px) {
  .navbar .topnav li {
    position: relative;
  }
}
.navbar .topnav li a,
.navbar .sub-nav-toggle-label {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
@media Screen and (min-width: 768px) {
  .navbar .topnav li a,
.navbar .sub-nav-toggle-label {
    padding: 0 0.5rem;
    font-size: 1rem;
  }
}
.navbar .topnav li a:hover,
.navbar .sub-nav-toggle-label:hover {
  color: #fff;
  background: #000;
}
.navbar .sub-nav-toggle-label::after {
  padding-left: 4px;
  content: " ▸";
  transition: transform 125ms ease-in-out;
}
.navbar .sub-nav-toggle:checked ~ .sub-nav-toggle-label::after {
  content: " ▾";
}
@media screen and (min-width: 768px) {
  .navbar .sub-nav-toggle:checked ~ .sub-nav-toggle-label::after {
    content: " ▸";
  }
}
.navbar .sub-nav-toggle:checked ~ .sub-nav {
  display: flex;
  flex-flow: column nowrap;
  transform: scale(1, 1);
}
.navbar .sub-nav {
  display: none;
  transform: scale(1, 0);
  transition: transform 250ms ease-in-out;
  transform-origin: top;
  color: #000;
  background: orange;
}
@media Screen and (min-width: 768px) {
  .navbar .sub-nav {
    position: absolute;
    width: 100%;
    min-width: 200px;
    top: 100%;
    left: 0px;
    right: 100px;
    transform: scale(1, 0);
    transition: transform 250ms ease-in-out;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: block;
    flex-flow: column nowrap;
    margin: 0;
  }
}
.navbar .sub-nav-link {
  margin-left: 0;
}
@media Screen and (min-width: 768px) {
  .navbar .sub-nav-link a {
    font-weight: 300;
    font-size: 1rem !important;
    text-align: left;
  }
}

/* Footer Styles */
footer {
  margin-top: auto;
  background-color: #336699;
  color: #fff;
  width: 100%;
  position: relative;
}
footer a {
  color: #fff;
}

/* footer1 */
.footer1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.footer1 h5 {
  font-size: 1.3rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.footer1 .footer-social .get-social-icons {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.footer1 .footer-social .social-icon {
  padding: 0.25rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer1 {
    grid-template-columns: 0.5fr 2fr auto;
  }
}

/* footer2 */
.footer2 {
  background-color: #2d5986;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.footer2 p {
  margin: 0;
  color: #efefef;
  font-size: 0.8rem;
  font-weight: 300;
}

/*# sourceMappingURL=login.css.map */
