/* 
    CSS VARIABLES 

    DO NOT CHANGE THE VARIABLE NAME INSIDE OF THE :ROOT.
    IF YOU ARE USING SASS, CHANGE THE PROPERTY IN THE _THEME.SCSS
    PARTIAL FILE.

    IF YOU ARE USING CSS ONLY, CHANGE THE PROPERTY OF THE VARIABLE 
    INSIDE THE MAIN.CSS AND LOGIN.CSS FILES.

*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap");
:root {
  /* Color Theme */
  --clr-primary: #336699;
  --clr-primary-dark: #264d73;
  --clr-primary-light: #8cb3d9;
  --clr-secondary: #338899;
  --clr-accent: #ff781f;
  --clr-dark-text: #333333;
  --clr-white: #ffffff;
  --clr-black: #333333;
  --clr-grey-light: #f0f0f0;
  --clr-grey-medium: #cccccc;
  --clr-grey-dark: #595959;
  /* Default Element Styles */
  --bs: 0 2px 2px rgba(51, 51, 51, 0.5);
  --br: 7px;
  --ls: 2px;
  --ts: 0 2px 5px rgba(51, 51, 51, 0.18);
  /*  Navigation Styles */
  --nav-height: 60px;
  --nav-background: #336699;
  --nav-font-color: #ffffff;
  --nav-hover-color: #ff781f;
  /* Layout Variables */
  --max-width: 2000px;
  /* Media Queries */
  --breakpoint: 768px;
}

:root {
  font-size: 16px;
}

@media (min-width: 576px) and (max-width: 991px) {
  :root {
    font-size: calc(16px + (18 - 16) * ((100vw - 576px) / (991 - 576)));
  }
}
@media (min-width: 991px) {
  :root {
    font-size: 18px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
}

p,
ul,
a {
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  margin: 0;
  line-height: 1;
  color: #333333;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  width: 100vw;
}

img {
  display: block;
  width: 100%;
}

li {
  margin-top: 0.25rem;
  margin-left: 1rem;
  padding-left: -1rem;
}

.container {
  width: 100%;
  width: 991;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 100ch) minmax(2rem, 1fr);
}
.container > * {
  grid-column: 2/3;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  margin: 0;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  width: 50px;
}
@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: 2rem;
  height: 4px;
  border-radius: 7px;
  background: #ffffff;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.nav-toggle-label span::before {
  top: 10px;
}
.nav-toggle-label span::after {
  top: -10px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(135deg);
  top: 0px;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-135deg);
  top: 0px;
}

.textElement {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 90ch) minmax(2rem, 1fr);
}
.textElement p {
  letter-spacing: 0.8px;
}
.textElement > * {
  grid-column: 2;
}
.textElement img {
  grid-column: 1/-1;
  justify-self: center;
  width: 100%;
  max-width: 100ch;
  max-height: 40vh;
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.25);
  object-fit: cover;
}
.textElement * + * {
  margin-top: 1.5rem;
}

.hero {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  height: 70vh;
  max-height: 600px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}
.hero > * {
  grid-area: hero;
}
.hero img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-height: 600px;
  width: 100%;
  z-index: -1;
}
.hero .hero__content {
  z-index: 100;
  text-align: center;
  color: #ffffff;
  min-width: 30ch;
}
.hero .hero__content * + * {
  margin-top: 1rem;
}
.hero .hero__content h1 {
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(51, 51, 51, 0.18);
}
.hero .hero__content p {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(51, 51, 51, 0.18);
}

.btn-cta {
  font-size: 1.25rem;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 2.5rem;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}
.btn-cta:hover, .btn-cta:active {
  background-color: #e8f0f7;
}
.btn-cta:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #8cb3d9;
}

.galleryElement {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 90ch) minmax(2rem, 1fr);
}
.galleryElement p {
  letter-spacing: 0.8px;
}
.galleryElement > * {
  grid-column: 2;
}
.galleryElement * + * {
  margin-top: 1.5rem;
}
.galleryElement .gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 250px;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}
.galleryElement .gallery-img {
  margin-top: 0;
}
.galleryElement .gallery-img img {
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.25);
  height: 250px;
  object-fit: cover;
}

.imageElement {
  padding: 1em 1em 2em;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.25);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
  grid-template-rows: auto 1fr;
  width: 100%;
}
.imageElement .image__content {
  padding: 1rem 2rem;
}
.imageElement .image__content * + * {
  margin-top: 1rem;
}
.imageElement img {
  height: auto;
  max-height: 450px;
  object-fit: cover;
  align-self: flex-start;
  border-radius: 7px;
  margin-top: 1rem;
}

.embeddedElement {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 90ch) minmax(2rem, 1fr);
}
.embeddedElement p {
  letter-spacing: 0.8px;
}
.embeddedElement > * {
  grid-column: 2;
}
.embeddedElement img {
  grid-column: 1/-1;
  justify-self: center;
  width: 100%;
  max-width: 100ch;
  max-height: 40vh;
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.25);
  object-fit: cover;
}
.embeddedElement * + * {
  margin-top: 1.5rem;
}
.embeddedElement .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.embeddedElement .video-container iframe,
.embeddedElement .video-container object,
.embeddedElement .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav {
  padding-right: 1rem;
  padding-left: 1rem;
  height: 60px;
  background: #336699;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  transition: color 125ms ease;
}
.nav .logo a:hover {
  color: #ff781f;
}
.nav .topnav {
  background-color: #336699;
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.25);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  display: block;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 125ms ease;
}
@media screen and (min-width: 768px) {
  .nav .topnav {
    padding-top: 0rem;
    padding-bottom: 0rem;
    box-shadow: none;
    opacity: 1;
    transform: scale(1, 1);
    width: auto;
    position: static;
  }
}
.nav .topnav__ul {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav .topnav__ul {
    flex-flow: row nowrap;
  }
}
.nav .topnav__li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .topnav__li.active a {
  background: #264d73 !important;
  color: #ff781f;
}
.nav .topnav__li a {
  color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 60px;
  font-size: 1.25rem;
  transition: all 125ms ease;
}
@media screen and (min-width: 768px) {
  .nav .topnav__li a {
    padding-right: 0.75em;
    padding-left: 0.75em;
  }
}
.nav .topnav__li a:hover {
  color: #ff781f;
  background: #264d73;
}

.nav-toggle:checked ~ .topnav {
  transform: scale(1, 1);
  opacity: 1;
}

.nav-toggle:checked ~ .topnav a {
  opacity: 1;
}

/*# sourceMappingURL=login.css.map */
