/* 
    CSS VARIABLES 

    DO NOT CHANGE THE VARIABLE NAME INSIDE OF THE :ROOT.
    IF YOU ARE USING SASS, CHANGE THE PROPERTY IN THE _THEME.SCSS
    PARTIAL FILE.

    IF YOU ARE USING CSS ONLY, CHANGE THE PROPERTY OF THE VARIABLE 
    INSIDE THE MAIN.CSS AND LOGIN.CSS FILES.

*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=PT+Serif:wght@700&display=swap");
:root {
  /* Color Theme */
  /* Color base */
  --clr-primary: #336699;
  --clr-primary-dark: #264d73;
  --clr-primary-light: #8cb3d9;
  --clr-secondary: #338899;
  --clr-accent: #ff781f;
  --clr-dark-text: #1a1a1a;
  --clr-primary: #336699;
  --clr-white: whitesmoke;
  --clr-black: #1a1a1a;
  --clr-grey-dark: gray;
  --clr-grey-medium: #cccccc;
  --clr-grey-light: #f0f0f0;
  /* Color RGB Components */
  --clr-primary-rgb: 51, 102, 153;
  --clr-primary-dark-rgb: 38, 77, 115;
  --clr-primary-light-rgb: 140, 179, 217;
  --clr-secondary-rgb: 51, 136, 153;
  --clr-accent-rgb: 255, 120, 31;
  --clr-dark-text-rgb: 26, 26, 26;
  --clr-primary-rgb: 51, 102, 153;
  --clr-black-rgb: 26, 26, 26;
  --clr-white-rgb: 245, 245, 245;
  --clr-grey-dark-rgb: 128, 128, 128;
  --clr-grey-medium-rgb: 204, 204, 204;
  --clr-grey-light-rgb: 240, 240, 240;
  /* Default Element Styles */
  --bs: 0 0 25px rgba(26, 26, 26, 0.25);
  --bs-1: 0 10px 25px rgba(26, 26, 26, 0.25);
  --bsh: 0px 0px 10px 2px rgba(26, 26, 26, 0.15);
  --br: 7px;
  --ls: 2px;
  --ts: 0 2px 5px rgba(26, 26, 26, 0.18);
  --section-margin: 0rem;
  /*  Navigation Styles */
  --nav-height: 60px;
  --nav-bg: #336699;
  --nav-bg-opacity: 0;
  --nav-text: whitesmoke;
  --nav-hover: #ff781f;
  --nav-accent: #ff781f;
  /* Layout Variables */
  --max-width: 1200px;
  /* Media Queries */
  --breakpoint: 768px;
  /* Font Families */
  --ff-serif: PT Serif, serif;
  --ff-sans: Open Sans, sans-serif;
  /* Font Weights */
  --fw-l: 300;
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 700;
}

:root {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (991 - 768)));
  }
}
@media (min-width: 991px) {
  :root {
    font-size: 18px;
  }
}
/* Default Styles - Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  color: var(--clr-black);
  font-family: var(--ff-sans);
  font-weight: var(--fw-n);
  line-height: 1.6;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

p {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-serif);
  font-weight: var(--fw-m);
  margin: 0;
  line-height: 1;
  color: var(--clr-accent);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 0rem;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
}

.footer {
  margin-top: auto;
}

.element {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 90ch) minmax(1rem, 1fr);
}
.element * + * {
  margin-top: 1.25rem;
}
.element > * {
  grid-column: 2;
}

.hero + section:first-of-type {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.nav + section:first-of-type {
  margin-top: calc(60px + 0rem);
}

figure {
  border-radius: var(--br);
}
figure img {
  max-height: 450px;
  border-radius: var(--br);
  box-shadow: var(--bs);
  object-fit: cover;
}
figure figcaption {
  color: var(--clr-grey-dark);
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 0.25rem !important;
  text-align: center;
}

.hero {
  --hero-height: 80vh;
  height: min(var(--hero-height), 1080px);
  position: relative;
  z-index: 100;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}
.hero__content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-white);
  padding: 1rem 2rem;
  border-radius: var(--br);
  width: 60ch;
  max-width: 50%;
  z-index: 102;
}
.hero__content-title {
  color: var(--clr-white);
}
.hero__image {
  width: 100vw;
  height: min(var(--hero-height), 1080px);
}
.hero__image img {
  width: 100vw;
  height: min(var(--hero-height), 1080px);
  object-fit: cover;
  z-index: 100;
}

.btn {
  font-size: inherit;
  display: inline-block;
  background: var(--clr-primary);
  padding: 0.5em 1em;
  border: solid 10px rgba(var(--clr-black), 50);
  border-radius: var(--br);
  color: var(--clr-white);
  z-index: 999;
  box-shadow: none;
  transition: all ease-in-out 125ms;
  text-decoration: none;
}
.btn:hover {
  color: var(--clr-accent);
  background: var(--clr-primary-dark);
  cursor: pointer;
  box-shadow: var(--bsh);
}

.btn-cta {
  font-size: 1.25rem;
  color: #1a1a1a;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 0.25em 0.75em;
  margin-top: 2rem;
  margin-bottom: 1rem;
  min-width: 10ch;
  min-height: 2.5rem;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}
.btn-cta:hover, .btn-cta:active {
  background-color: #4785c2;
}
.btn-cta:focus {
  outline-style: dashed;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #8cb3d9;
}

.collectionElement__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 1.5rem;
}
.collectionElement__wrapper * + * {
  margin-top: 0;
}
.collectionElement__wrapper a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.collectionElement__card {
  display: flex;
  flex-flow: column nowrap;
  border: solid 1px #f0f0f0;
  box-shadow: var(--bs);
}
.collectionElement__card-image {
  overflow: hidden;
}
.collectionElement__card-image img {
  height: 150px;
  object-fit: cover;
  transition: transform 125ms ease-in;
}
.collectionElement__card-image img:hover {
  transform: scale(1.05);
}
.collectionElement__cardHeader {
  position: relative;
  padding: 0.5rem 1.5rem;
  min-height: 90px;
  background: #336699;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
.collectionElement__cardHeader h5 {
  color: #fff;
  font-family: var(--ff-sans);
}
.collectionElement__cardHeader::before {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #f0f0f0;
  border-width: 0.5rem 0 0.5rem 1rem;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.collectionElement__cardHeader::after {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent #f0f0f0 transparent transparent;
  border-width: 0.5rem 1rem 0.5rem 0;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.collectionElement__cardBody {
  padding: 1rem;
}
.collectionElement__cardBody p {
  color: gray;
  line-height: 1.2 !important;
  font-size: 0.95rem;
}
.collectionElement__cardBody p:first-of-type {
  margin-top: 0 !important;
}
.collectionElement__cardFooter {
  padding: 1rem;
  background: #336699;
  color: #fff;
  display: block;
  transition: all 125ms ease-in;
  margin-top: auto;
  border-top: solid 1px #f0f0f0;
}
.collectionElement__cardFooter:hover {
  background: #fff;
  color: #336699;
}
.collectionElement__cardFooter a {
  display: block;
  height: 100%;
  width: 100%;
}

.collectionDetail__image {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: var(--br);
  box-shadow: var(--bs);
}
.collectionDetail__image img {
  object-fit: cover;
  height: 500px;
}

.contactElement .contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 2em;
}
.contactElement button {
  justify-self: start;
}
.contactElement ::placeholder {
  color: rgba(var(--clr-grey-dark-rgb), 0.75);
}

.input-group * + * {
  margin-top: 0.5em;
}

/* Add styles to 'label' selector */
label {
  font-size: 1.2em;
  align-self: flex-start;
  justify-self: flex-end;
  grid-column: 1/2;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 0.75em 1em;
  border: 1px solid var(--clr-grey-medium);
  border-radius: var(--br);
  grid-column: 2/3;
  font-size: 1rem;
  transition: all 125ms ease-in-out;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid var(--clr-accent);
}

/* Add styles to the submit button */
input[type=submit],
.jsContactSubmitButton {
  justify-self: flex-start;
  grid-column: 2/3;
  font-size: 1rem;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
  background: var(--clr-accent);
  color: var(--clr-white);
}

.galleryElement .gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 250px;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}
.galleryElement .gallery-img {
  margin-top: 0;
}
.galleryElement .gallery-img img {
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(26, 26, 26, 0.25);
  height: 250px;
  object-fit: cover;
}

.imageElement img {
  border-radius: var(--br);
  box-shadow: var(--bs-1);
  max-height: 450px;
  object-fit: cover;
}

.embeddedElement .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.embeddedElement .video-container iframe,
.embeddedElement .video-container object,
.embeddedElement .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav {
  padding-right: 1rem;
  padding-left: 1rem;
  background: var(--clr-primary-dark);
  color: var(--clr-white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: all 500ms ease-out;
}
@media screen and (min-width: 768px) {
  .nav {
    background: rgba(var(--clr-primary-dark-rgb), 1);
  }
  .nav .logo a,
.nav .topnav__li a,
.nav .topnav__li.active a {
    color: var(--clr-white);
  }
}
.nav.scroll {
  box-shadow: var(--bs-1);
}
@media screen and (min-width: 768px) {
  .nav.scroll {
    background: rgba(var(--clr-primary-dark-rgb), 1);
  }
  .nav.scroll .logo a,
.nav.scroll .topnav__li a,
.nav.scroll .topnav__li.active a {
    color: var(--clr-white);
  }
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo a {
  text-decoration: none;
  color: var(--nav-text);
  font-size: 2rem;
  line-height: var(--nav-height);
  font-family: var(--ff-sans);
  font-weight: var(--fw-m);
  transition: color 125ms ease;
}
@media screen and (min-width: 768px) {
  .nav .logo a {
    color: var(--nav-text);
  }
}
.nav .logo a:hover {
  color: var(--clr-accent);
}
.nav .topnav {
  background: var(--clr-primary);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  display: block;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 125ms ease;
}
@media screen and (min-width: 768px) {
  .nav .topnav {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    box-shadow: none;
    opacity: 1;
    transform: scale(1, 1);
    width: auto;
    position: static;
    background: transparent;
  }
}
.nav .topnav__ul {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav .topnav__ul {
    flex-flow: row wrap;
  }
}
.nav .topnav__li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .topnav__li.active a {
  background: rgba(var(--clr-accent-rgb), 0.75);
}
.nav .topnav__li a {
  color: var(--clr-white);
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: var(--nav-height);
  font-size: 0.9rem;
  transition: all 125ms ease;
}
@media screen and (min-width: 768px) {
  .nav .topnav__li a {
    padding-right: 0.75em;
    padding-left: 0.75em;
    color: var(--nav-text);
  }
}
.nav .topnav__li a:hover {
  background: rgba(var(--clr-accent-rgb), 0.5);
}
.nav .topnav__li a:focus {
  outline: none;
}

.nav-toggle {
  position: absolute;
  top: -999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  margin: 0;
  cursor: pointer;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  width: var(--nav-height);
}
@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: calc(var(--nav-height)/ 2);
  height: 4px;
  border-radius: 7px;
  background: var(--nav-text);
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.nav-toggle-label span::before {
  top: 10px;
}
.nav-toggle-label span::after {
  top: -10px;
}

.nav.scroll * label > span,
.nav.scroll * label > span::before,
.nav.scroll * label > span::after {
  background: white !important;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav.scroll * .nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent !important;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(135deg);
  top: 0px;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-135deg);
  top: 0px;
}

.nav-toggle:checked ~ .topnav {
  transform: scale(1, 1);
  opacity: 1;
}

.nav-toggle:checked ~ .topnav a {
  opacity: 1;
}

/* Footer Styles */
.footer {
  width: 100%;
  position: relative;
  align-self: flex-end;
}
.footer a {
  color: var(--clr-white);
  text-decoration: none;
}
.footer a:hover {
  color: var(--clr-accent);
}

/* footer1 */
.footer1 {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-size: 0.9rem;
  padding: 1rem;
}
.footer1 .container {
  display: grid;
  gap: 1rem;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .footer1 .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
  }
}
.footer1 h5 {
  font-size: 1.2rem;
  text-shadow: var(--ts);
  color: var(--clr-white);
  margin-bottom: 1rem;
}
.footer1 .footer-social .social-icon {
  padding: 0.25rem 0.5rem;
}
.footer1 .footer-address * + * {
  margin-top: 1rem;
}

/* footer2 */
.footer2 {
  background-color: var(--clr-primary-dark) !important;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.footer2 p {
  margin: 0;
  color: var(--clr-grey-light);
  font-size: 0.8rem;
  font-weight: var(--fw-l);
}

.nav-footer__nav {
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
