@import 'vendor/vendor';
@import 'vars/vars';

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $primary-color;
  color: #fff;
  @include padding(1rem);
}
.loginPage{
  
  border: solid 2px #ddd;
  border-radius: 10px;
  @include padding(1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}
form{
  display: grid;
  width: 100%;
 
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

  .form-signin {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
