// Buttons
.btn {
  font-size : 1rem;
  display   : inline-block;
  background: var(--clr-primary);
  @include padding(.5em 1em);
  border       : solid 10px rgba(var(--clr-black), 50);
  border-radius: var(--br);
  color        : var(--clr-white);
  z-index      : 999;
  box-shadow   : none;
  transition   : all ease-in-out 125ms;

  &:hover {
    color     : var(--clr-accent);
    background: var(--clr-primary-dark);
    cursor    : pointer;
    box-shadow: var(--bsh);
  }
}