.imageElement {
  @include padding(1em 1em 2em);
  @include margin(2rem null 1rem);
  border-radius: $br;
  box-shadow: $bs-1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
  grid-template-rows: auto 1fr;
  width: 100%;

  .image__content {
    @include padding(1rem 2rem);

    *+* {
      @include margin(1rem null null null);
    }
  }

  img {
    height: auto;
    max-height: 450px;
    object-fit: cover;
    align-self: flex-start;
    border-radius: $br;
    @include margin(1rem null null null);
  }
}