*,*::before,*::after {
  box-sizing: border-box;
  @include margin(0);
  @include padding(0);
}

.container{

  width: 90%;
  @include margin(auto);
 
}
section:first-of-type{
  margin-top: calc(#{$nav-height} + #{$section-margin});
}
section {

  @include margin(#{$section-margin} null);
}