// global

body {
  display: flex;
  flex-flow: column nowrap;
  // justify-content: flex-start;
  @include padding(61px null null);
  @include padding(49px null null);
  min-height: 100vh;
}
footer{
  @include margin(auto null null);
}

a {
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}

section {
  width: 100%;
  @include padding(2rem null);
  @include margin(null null 2rem);
}
section:nth-child(even){
  background-color: $primary-light-grey;
}

img {
  width: 100%;
  display: block;
}