{# Media Group Element #}

<h3>{{ data.title }}</h3>

{{ data.content }}

<div class="gallery-wrapper">
  <a data-fancybox="gallery" href="https://unsplash.it/801/600"><img src="https://unsplash.it/801/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/802/600"><img src="https://unsplash.it/802/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/803/600"><img src="https://unsplash.it/803/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/804/600"><img src="https://unsplash.it/804/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/805/600"><img src="https://unsplash.it/805/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/806/600"><img src="https://unsplash.it/806/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/807/600"><img src="https://unsplash.it/807/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/808/600"><img src="https://unsplash.it/808/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/809/600"><img src="https://unsplash.it/809/600" alt=""></a>
  <a data-fancybox="gallery" href="https://unsplash.it/810/600"><img src="https://unsplash.it/810/600" alt=""></a>
</div>

<p>The light box <a href="https://fancyapps.com/fancybox/3/">https://fancyapps.com/fancybox/3/</a></p>