{# Media Group Element #}

<h3>{{ data.title }}</h3>

{{ data.content }}
<div class="gallery-wrapper">
  <img class="gallery-img" src="https://unsplash.it/601/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/602/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/603/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/604/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/605/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/606/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/607/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/608/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/609/400" alt="">
  <img class="gallery-img" src="https://unsplash.it/610/400" alt="">
</div>
