{# Media Group Element #}

<h3>{{ data.title }}</h3>

{{ data.content }}

<div class="gallery-wrapper">
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1001/900"><img src="https://unsplash.it/1001/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1002/900"><img src="https://unsplash.it/1002/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1003/900"><img src="https://unsplash.it/1003/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1004/900"><img src="https://unsplash.it/1004/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1005/900"><img src="https://unsplash.it/1005/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1006/900"><img src="https://unsplash.it/1006/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1007/900"><img src="https://unsplash.it/1007/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1008/900"><img src="https://unsplash.it/1008/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1009/900"><img src="https://unsplash.it/1009/900" alt=""></a>
  <a data-fancybox="gallery" class="gallery-img" data-caption="Image Caption Here" href="https://unsplash.it/1010/900"><img src="https://unsplash.it/1010/900" alt=""></a>
</div>



<h3>Gallery Requirements</h3>
<p>The gallery will require a thumbnail, large image and a caption. The thumbnail should be no smaller than 250px
  wide.
</p>
<p>The light box <a href="https://fancyapps.com/fancybox/3/">https://fancyapps.com/fancybox/3/</a></p>