$primary-color: #336699;
$accent-color: lighten($primary-color, 5);

$text-dark: #333;
$text-light: #ffffff;

$gray1: rgb(236, 234, 234);
$gray2: rgb(202, 204, 206);
$dark1: #000;
 

$border-radius: 3px;
$box-shadow: 0 0 25px rgba(0,0,0,.25);
$text-shadow: 0 2px 2px rgba(0,0,0,.5);
$letter-spacing: 4px;