{% extends 'layouts/_base_layout.html' %}

{% block headStyle %}
    {% set image = page.blocks.aboveTheFoldHero|first %}
    <style>
        .hero-image {background-image: url("{{ image.media_path }}");}
    </style>
{% endblock %}

{% block body %}

{# Fetch all elements in the "aboveTheFoldHero" block #}
{% for element in page.blocks.aboveTheFoldHero %}
{{ getElementHtml(element) }}
{% endfor %}
<div class="container">
    {# Fetch all elements in the "introBlock" block #}
    {% for element in page.blocks.introBlock %}
    {{ getElementHtml(element) }}
    {% endfor %}
</div>

{% endblock %}