{% extends 'layouts/_base_layout.html' %}

{% block headStyle %}
    {% set image = page.sections.aboveTheFoldHero|first %}
    <style>
        .hero-image {background-image: url("{{ image.media_path }}");}
    </style>
{% endblock %}

{% block body %}

{# Fetch all elements in the "aboveTheFoldHero" section #}
{% for el in page.sections.aboveTheFoldHero %}
{{ fetchElementHtml(el.element_type, el.element_title, el.content, el.collection_id, el.media_group, el.media_path)
}}
{% endfor %}
<div class="container">
    {# Fetch all elements in the "introBlock" section #}
    {% for el in page.sections.introBlock %}
    {{ fetchElementHtml(el.element_type, el.element_title, el.content, el.collection_id, el.media_group, el.media_path)
    }}
    {% endfor %}
</div>

{% endblock %}