{% extends 'layouts/_base_layout.html' %}

{% block body %}

<div id="heroGuide">
  {# Fetch all elements in the "heroGuide" block #}
  {% for element in page.blocks.heroGuide %}
  {{ getElementHtml(element) }}
  {% endfor %}
</div>


<section id="typoGuide">
  <div class="container">
  {# Fetch all elements in the "typoGuide" block #}
  {% for element in page.blocks.typoGuide %}
  {{ getElementHtml(element) }}
  {% endfor %}
</div>
</section>

<section id="galleryGuide">
  <div class="container">
    {# Fetch all elements in the "galleryGuide" block #}
    {% for element in page.blocks.galleryGuide %}
    {{ getElementHtml(element) }}
    {% endfor %}
  </div>
</section>
<section id="collectionGuide">
  <div class="container">
    {# Fetch all elements in the "collectionGuide" block #}
    {% for element in page.blocks.collectionGuide %}
    {{ getElementHtml(element) }}
    {% endfor %}
  </div>
</section>
<section id="imageGuide">
  <div class="container">
    {# Fetch all elements in the "imageGuide" block #}
    {% for element in page.blocks.imageGuide %}
    {{ getElementHtml(element) }}
    {% endfor %}
  </div>
</section>
<section id="videoGuide">
  <div class="container">
    {# Fetch all elements in the "videoGuide" block #}
    {% for element in page.blocks.videoGuide %}
    {{ getElementHtml(element) }}
    {% endfor %}
  </div>
</section>


</div>

{% endblock %}