{# Hero Element #}
<div class="hero">
  <div class="hero__content">
    <h1>{{ element.title }}</h1>
    {{ element.content }}
    {% if element.settings.ctaTitle %}
    <a href="{{element.settings.ctaTarget}}" target="_blank" class="btn btn-cta">{{ element.settings.ctaTitle }}</a>

    {% endif %}
  </div>

<div class="hero__image">
    {% if element.media.filename %}
    {{ getMediaSrcSet(element.media.filename,element.media.caption) }}
    {% else %}
    <img src="/assets/img/heroDefault.jpg" alt="Top of the Mountain">
    {% endif %}
  </div>

</div>