<footer>
    <div class="footer1">

        <div class="footer-nav">
            <nav class="nav2">
                <h5>Navigation</h5>
                <ul>
                    {% for pl in site.pages %}
                    <li>
                        <a href="{{ pathFor('showPage', {'url': pl.url}) }}">{{ pl.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="footer-about">
            <h5>About PitonCMS</h5>
            <p>This section is hard coded into the page currently. We may want to setup an area that allows for
                this to be controlled by the admin.</p>
        </div>
        <div class="footer-social">
                <h5>Get Social</h5>
                <div class="get-social-icons">
                        <a href="{{ site.settings.githubLink }}"><i class="social-icon fab fa-github fa-2x"></i></a>
                        <a href="{{ site.settings.facebookLink }}"><i class="social-icon fab fa-facebook fa-2x"></i></a>
                        <a href="{{ site.settings.twitterLink }}"><i class="social-icon fab fa-twitter fa-2x"></i></a>
                        <a href="#!"><i class="social-icon fab fa-creative-commons fa-2x"></i></a>
                </div>
        </div>
    </div>
    <div class="footer2">

            <p>Piton CMS &copy; 2018</>

    </div>
</footer>