<header>
  <div class="container">

    <div class="logo"><a href="{{ pathFor('home') }}">{{ site.settings.siteName|default('Piton<span>CMS</span>') }}</a></div>

    <nav class="site-nav">
        <ul>
          {% for pl in site.pages %}

          <li>
            <a href="{{ pathFor('showPage', {'slug1': pl.slug}) }}">{{ pl.title }}</a>
          </li>

        {% endfor %}
        </ul>
    </nav>

    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>

  </div>

  </header>






