<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand"
      href="{{ pathFor('home') }}">{{ site.settings.displayName|default('Piton<span>CMS</span>') }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto"> 
        {% for pl in site.pages %}

        <li class="nav-item {% if pl.currentPage %}active{% endif %}">
          <a class="nav-link" href="{{ pathFor('showPage', {'slug1': pl.slug}) }}">{{ pl.title }}</a>
        </li>

        {% endfor %}


        {# <li>
            <a href="#">Home <span class="sr-only">(current)</span></a>
          </li> #}

      </ul>

    </div>
  </div>

</nav>