<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ pathFor('home') }}">{{ site.settings.displayName|default('Piton<span>CMS</span>') }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for navItem in getNavigator('main') %}

        {% if navItem.childNav %}
        {# This is the case for a parent with a child nav dropdown #}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ navItem.title }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for child in navItem.childNav %}
            <a class="dropdown-item" href="{{ pathFor('showPage', {'slug1': child.page_slug}) }}">{{ child.title }}</a>
            {% endfor %}
          </div>
        </li>

        {% else %}
        {# This is the case for a parent nav link #}

        <li class="nav-item {% if navItem.currentPage %}active{% endif %}">
          <a class="nav-link" href="{{ pathFor('showPage', {'slug1': navItem.page_slug}) }}">{{ navItem.title }}</a>
        </li>

        {% endif %}

        {% endfor %}
      </ul>

    </div>
  </div>

</nav>