<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ pathFor('home') }}">{{ site.settings.displayName|default('Piton<span>CMS</span>') }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for navLink in getNavigator('main') %}

        <li class="nav-item {% if navLink.currentPage %}active{% endif %}">
          <a class="nav-link" href="{{ pathFor('showPage', {'slug1': navLink.page_slug}) }}">{{ navLink.title }}</a>
        </li>

        {% endfor %}
      </ul>

    </div>
  </div>

</nav>