# Override from parent directory, everything in this directory and below is web accessible
Allow from all

# However, prevent direct directory access
Options -Indexes

RewriteEngine On

# Check to see if the user is attempting to access a valid file, such as an image
# or css document, if this isn't true this sends the request to index.php.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif|css|js)$ [NC]
RewriteRule . index.php [L]
