body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.container {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  max-width: 1200px;
  @include margin(0 auto);
  @include padding(1rem);
}

a {

  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}

section {
  width: 100vw;
  @include padding(0px null 50px);
}

button,
[type=button],
[type=reset],
[type=submit] {
  // background-color: $primary-color;
}

img {
  width: 100%;
  display: block;
}