@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Lato:300,400,700");
button, [type=button], [type=reset], [type=submit] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover, [type=button]:hover, [type=reset]:hover, [type=submit]:hover {
  background-color: #11519a;
  color: #fff;
}
button:focus, [type=button]:focus, [type=reset]:focus, [type=submit]:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px;
}
button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover, [type=button]:disabled:hover, [type=reset]:disabled:hover, [type=submit]:disabled:hover {
  background-color: #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
}

[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=time]:hover, [type=url]:hover, [type=week]:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}
[type=color]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
  outline: none;
}
[type=color]:disabled, [type=date]:disabled, [type=datetime]:disabled, [type=datetime-local]:disabled, [type=email]:disabled, [type=month]:disabled, [type=number]:disabled, [type=password]:disabled, [type=search]:disabled, [type=tel]:disabled, [type=text]:disabled, [type=time]:disabled, [type=url]:disabled, [type=week]:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
[type=color]:disabled:hover, [type=date]:disabled:hover, [type=datetime]:disabled:hover, [type=datetime-local]:disabled:hover, [type=email]:disabled:hover, [type=month]:disabled:hover, [type=number]:disabled:hover, [type=password]:disabled:hover, [type=search]:disabled:hover, [type=tel]:disabled:hover, [type=text]:disabled:hover, [type=time]:disabled:hover, [type=url]:disabled:hover, [type=week]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}
[type=color]::placeholder, [type=date]::placeholder, [type=datetime]::placeholder, [type=datetime-local]::placeholder, [type=email]::placeholder, [type=month]::placeholder, [type=number]::placeholder, [type=password]::placeholder, [type=search]::placeholder, [type=tel]::placeholder, [type=text]::placeholder, [type=time]::placeholder, [type=url]::placeholder, [type=week]::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: 0.375em;
}

[type=file] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

[type=checkbox]:focus,
[type=radio]:focus,
[type=file]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px;
}

html {
  background-color: #fff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1.2;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.75em 0.75em 0.75em 0;
}

html {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease;
}
a:hover {
  color: #104c90;
}
a:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

:root {
  font-size: 16px;
}

@media (min-width: 576px) and (max-width: 991px) {
  :root {
    font-size: calc( 16px + (18 - 16) * ( (100vw - 576px) / ( 991 - 576) ));
  }
}
@media (min-width: 991px) {
  :root {
    font-size: 18px;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.25rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3973ac;
}

section {
  margin-bottom: 100px;
}

button, [type=button], [type=reset], [type=submit] {
  background-color: #336699;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #ffffff;
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.15);
}
.hero__content {
  text-align: center;
  flex-basis: 70%;
}
.hero__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
}
.hero--ratio {
  min-height: calc((5 / 4) * 100vw);
}
@media screen and (min-width: 768px) {
  .hero--ratio {
    min-height: calc((9 / 16) * 100vw);
  }
}
@media screen and (min-width: 1000px) {
  .hero--ratio {
    min-height: calc((7 / 21) * 100vw);
  }
}
.hero--16-9 {
  min-height: calc((9 / 16) * 100vw);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.card {
  border: solid 2px #3973ac;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.card-header {
  padding: 1rem;
  background-color: #f1efef;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
}

.card-body {
  padding: 1rem;
}

.card-footer {
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  border-top: solid 1px #000;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.gallery-img {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.imageElement-wrapper {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .imageElement-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
.image-wrapper img {
  object-fit: cover;
}

.video-wrapper {
  margin-top: 2rem;
}

header {
  background: #336699;
  color: #ffffff;
  position: relative;
  padding: 0 0.25rem;
}
header .container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem;
}
header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
.logo span {
  font-size: 1.5rem;
  font-weight: 300;
}
.logo a {
  color: #ffffff;
  text-decoration: none;
}
.logo a:hover {
  color: #3973ac;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #3973ac;
  clip-path: circle(0px at top right);
  transition: all ease-in-out 700ms;
  /*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
  display: block;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #333;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #ddd;
  font-size: 1rem;
  display: block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #3973ac;
  color: #3973ac;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}

.menu-toggle {
  margin-left: auto;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ffffff;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    clip-path: initial;
    margin-left: auto;
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .site-nav a {
    padding: 0;
    margin-left: 2em;
  }

  .site-nav a:hover,
.site-nav a:focus {
    background: transparent;
  }

  .site-nav--icon {
    display: none;
  }
}
/* Footer Styles */
footer {
  margin-top: auto;
  background-color: #336699;
  color: #ffffff;
  width: 100%;
  position: relative;
}
footer a {
  color: #ffffff;
}

/* footer1 */
.footer1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.footer1 h5 {
  font-size: 1.3rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.footer1 .footer-social .get-social-icons {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.footer1 .footer-social .social-icon {
  padding: 0.25rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer1 {
    grid-template-columns: 0.5fr 2fr auto;
  }
}

/* footer2 */
.footer2 {
  background-color: #2d5986;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.footer2 p {
  margin: 0;
  color: #eceaea;
  font-size: 0.8rem;
  font-weight: 300;
}

/*# sourceMappingURL=main.css.map */
