<?php

/**
 * Custom Public Application Routes
 *
 * Copy this file to routes.php and use example below to define custom routes.
 * Be certain to use the `setName()` method to define named route.
 *
 * Note: Existing routes cannot be overridden.
 */

// Example public custom route
// If matched to a request, this calls a custom project controller and custom method that returns a Psr\Http\Message\ResponseInterface
// $app->get('/custom-static-route', function ($request, $response, $args) {
//     return (new PitonCMS\Controllers\<ControllerName>($request, $response, $this))->methodName($args);
// })->setName('custom');
