body{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.container{
  max-width: 1200px;
  @include margin(0 auto);
  @include padding(1rem);
}
a{

  text-decoration: none;
  &:hover{
    color: $accent-color;
  }
}
section{
  @include margin(null null 100px);
}

button, [type=button], [type=reset], [type=submit]{
  background-color: $primary-color;
}