header {
  background: $primary-color;
  color: $text-light;
  position: relative;
  @include padding(0 .25rem);

  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include padding(0 1rem);
  }

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;

  span {
    font-size: 1.5rem;
    font-weight: 300;
  }

  a {
    color: $text-light;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: $accent-color;
  clip-path: circle(0px at top right);
  transition: all ease-in-out 700ms;
  /*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);

 display: block;
}

.site-nav ul {
  @include margin(0);
  @include padding(0);
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid $text-dark;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: $light-gray;
  font-size: 1rem;
  display: block;
  // @include padding(1rem 2rem);
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: $accent-color;
  color: $accent-color;

}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, .4);
}

.menu-toggle {
  @include margin(null null null auto);
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: $text-light;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {

  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    clip-path: initial;
    @include margin(null null null auto);
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .site-nav a {
    @include padding(0);
    @include margin(null null null 2em);
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }

  .site-nav--icon {
    display: none;
  }

}