{# Collection Element #}
{% set collection = getCollectionPages(element.collection_slug) %}

<h2>{{ element.title }}</h2>
{{ element.content }}

<div class="card-wrapper">
  {% for detail in collection %}
  <div class="card">
    <div class="card-header">{{ detail.title }}</div>
    <div class="card-body">{{ detail.sub_title }}</div>
    <div class="card-footer">
        <a href="{{ pathFor('showPage', {'slug1': detail.collection_slug, 'slug2': detail.page_slug}) }}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  {% endfor %}
</div>
