{# Contact Form Element #}

<h2>{{ element.title }}</h2>
{{ element.content }}

<div>
  <form id="contact-form" action="{{ pathFor('submitMessage') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">

    <div class="form-group">
      <label>Your Name</label>
      <input type="text" class="form-control" name="name" maxlength="100" placeholder="Name"  autocomplete="off">
    </div>

    <div class="form-group">
      <label>Your Email<span class="text-danger">*</span></label>
      <input type="email" class="form-control" name="email" maxlength="100" placeholder="Email address" required autocomplete="off">
    </div>

    {% if site.settings.contactFormAttribute2 %}
    <div class="form-group">
      <label>{{ site.settings.contactFormAttribute1 }}</label>
      <input type="text" class="form-control" name="attribute1" maxlength="100" placeholder="{{ site.settings.contactFormAttribute1 }}" autocomplete="off">
    </div>
    {% endif %}

    {% if site.settings.contactFormAttribute2 %}
    <div class="form-group">
      <label>{{ site.settings.contactFormAttribute2 }}</label>
      <input type="text" class="form-control" name="attribute2" maxlength="100" placeholder="{{ site.settings.contactFormAttribute2 }}" autocomplete="off">
    </div>
    {% endif %}

    {% if site.settings.contactFormAttribute3 %}
    <div class="form-group">
      <label>{{ site.settings.contactFormAttribute3 }}</label>
      <input type="text" class="form-control" name="attribute3" maxlength="100" placeholder="{{ site.settings.contactFormAttribute3 }}" autocomplete="off">
    </div>
    {% endif %}

    {% if site.settings.contactFormAttribute4 %}
    <div class="form-group">
      <label>{{ site.settings.contactFormAttribute4 }}</label>
      <input type="text" class="form-control" name="attribute4" maxlength="100" placeholder="{{ site.settings.contactFormAttribute4 }}" autocomplete="off">
    </div>
    {% endif %}


    {% if site.settings.contactFormAttribute5 %}
    <div class="form-group">
      <label>{{ site.settings.contactFormAttribute5 }}</label>
      <input type="text" class="form-control" name="attribute5" maxlength="100" placeholder="{{ site.settings.contactFormAttribute5 }}" autocomplete="off">
    </div>
    {% endif %}

    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control" rows="5" name="message"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Submit</button>
  </form>
</div>