{# Contact Form Element #}

<h2>{{ element.title }}</h2>
{{ element.content }}

<div>
  <form id="contact-form" action="{{ pathFor('submitMessage') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">

    <div class="form-group">
      <label>Your Name</label>
      <input type="text" class="form-control" name="name" maxlength="100" placeholder="Name"  autocomplete="off">
    </div>

    <div class="form-group">
      <label>Your Email<span class="text-danger">*</span></label>
      <input type="email" class="form-control" name="email" maxlength="100" placeholder="Email address" required autocomplete="off">
    </div>

    {# This is the honeypot to limit spam messages. Keep the inline style and also the javascript at the bottom #}
    <div class="form-group" style="display:none;">
      <label>Alternate Email Address</label>
      <input type="email" class="form-control alt-email" name="alt-email" placeholder="Email" autocomplete="off">
    </div>

    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control" rows="5" name="message"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Submit</button>
  </form>
  <script type="text/javascript">
    document.getElementsByClassName('alt-email')[0].setAttribute('value', 'alt@example.com');
  </script>
</div>