{# Media Group Element #}

<h3>{{ element.title }}</h3>
{{ element.content }}
<div class="gallery-wrapper">
  {% for g in getGallery(element.gallery_id) %}
  <a data-fancybox="gallery" class="gallery-img {{ g.orientation }} {{ g.featured }}" data-caption="{{ g.caption}}"
    href="{{ getMediaPath(g.filename, 'large') }}"><img src="{{ getMediaPath(g.filename, 'thumb') }}"
      alt="{{ g.caption }}"></a>
  {% endfor %}
</div>



<!-- <h3>Gallery Requirements</h3>
<p>The gallery will require a thumbnail, large image and a caption. The thumbnail should be no smaller than 250px
  wide.
</p>
<p>The light box <a href="https://fancyapps.com/fancybox/3/">https://fancyapps.com/fancybox/3/</a></p> -->