.imageElement-wrapper{
 width: 100%;
 display: grid;
 grid-gap: 1rem;
 grid-template-columns:  1fr;
 justify-content: center;
 align-items: center;
 
 @media only screen and (min-width: 768px) {
  
   grid-template-columns: repeat(2, 1fr);
  
}
}
.image-wrapper{
  display: flex;
  justify-content: center;
  align-content: center;

img{
  object-fit: cover;
}
}

