<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">
    {% endif %}
    {% if site.settings.googleWebMaster %}
    <meta name="google-site-verification" content="{{ site.settings.googleWebMaster }}">
    {% endif %}

    <title>{{ site.settings.siteName }}</title>
    <link rel="stylesheet" href="/assets/{{ site.settings.theme|default('default') }}/css/main.css">
    <link rel="stylesheet" href="/assets/fancybox/fancybox/fancybox.css">

    {{ include('includes/_pitonConfigJs.html') }}
</head>

<body>
    {{ include("includes/_navbar.html") }}
    {% block hero %}
    {% endblock hero %}

    <div class="container">
        <main>
            {% block body %}
            {% endblock %}
        </main>
            {% block sidebar %}
          
            {% endblock %}
    </div>

    {{ include("includes/_footer.html") }}

    <script src="{{ baseUrl() }}/admin/js/dist/front.js"></script>
    <script src="{{ baseUrl() }}/assets/{{ site.settings.theme|default('default') }}/js/custom.js"></script>
    <script src="{{ baseUrl() }}/assets/fancybox/fancybox/fancybox.umd.js"></script>

    {% if site.environment.production and site.settings.statCounter %}
    {{ site.settings.statCounter }}
    {% endif %}

    {% if site.environment.production and site.settings.googleAnalytics %}
    {{ site.settings.googleAnalytics }}
    {% endif %}
</body>

</html>