{% extends 'pages/_base_layout.html' %}
{% block headStyle %}
<style>
  .hero{
    {% set bgImage = page.blocks.heroBlock|first %}
  
    background-image: url('{{ getMediaPath(bgImage.media.filename, 'small')|default('/assets/img/heroDefault.jpg') }}');
  }
  @media (min-width: 768px){
    .hero {
    background-image: url('{{ getMediaPath(bgImage.media.filename, 'large')|default('/assets/img/heroDefault.jpg') }}');
    background-position: {{ page.settings.placement }};
    background-attachment: {{ page.settings.attachment }};
  }
  .hero::after{
    background-color: rgba(0, 0, 0, 0.{{ page.settings.overlay }});
  }
  }
 
</style>
{% endblock headStyle %}

{% block body %}

{{ getBlockElementsHtml(page.blocks.heroBlock) }}

<section class="textBlock">
  <div class="container">
    {% if page.blocks.textElement %}
    {{ getBlockElementsHtml(page.blocks.textElement) }}
    {% endif %}
  </div>
</section>
<section id="collectionBlock">
  <div class="container">
    {% if page.blocks.collectionElement %}
    {{ getBlockElementsHtml(page.blocks.collectionElement) }}
    {% endif %}
  </div>
</section>
<section id="galleryBlock">
  <div class="container">
    {% if page.blocks.galleryElement %}
    {{ getBlockElementsHtml(page.blocks.galleryElement) }}
    {% endif %}
  </div>
</section>
<section id="vidoeBlock">
  <div class="container">
    {% if page.blocks.videoElement %}
    {{ getBlockElementsHtml(page.blocks.videoElement) }}
    {% endif %}
  </div>
</section>
<section id="contactBlock">
  <div class="container">
    {% if page.blocks.contactElement %}
    {{ getBlockElementsHtml(page.blocks.contactElement) }}
    {% endif %}
  </div>
</section>
{% endblock %}