{% extends 'pages/_base_layout.html' %}

{% block headStyle %}

<style>
  .hero{
    {% set bgImage = page.blocks.heroBlock|first %}
  
    background-image: url('{{ getMediaPath(bgImage.media.filename, 'small')|default('/assets/img/heroDefault.jpg') }}');
  }
  @media (min-width: 768px){
    .hero {
    background-image: url('{{ getMediaPath(bgImage.media.filename, 'large')|default('/assets/img/heroDefault.jpg') }}');
    background-position: {{ page.settings.placement }};
    background-attachment: {{ page.settings.attachment }};
  }
  .hero::after{
    background-color: rgba(0, 0, 0, 0.{{ page.settings.overlay }});
  }
  }
</style>
{% endblock headStyle %}

{% block body %}

{{ getBlockElementsHtml(page.blocks.heroBlock) }}

<section id="introBlock">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.introBlock) }}
  </div>
</section>

<section id="collectionBlock">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.collectionBlock) }}
  </div>
</section>

<section id="secondaryTextBlock">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.secondaryTextBlock) }}
  </div>
</section>

{% endblock %}