{% extends 'pages/_base_layout.html' %}

{% block body %}

{% if elements.page.blocks.heroGuide %}
{{ getBlockElementsHtml(page.blocks.heroGuide) }}
<section id="typoGuide">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.typoGuide) }}
  </div>
</section>
{% endif %}

{% if page.blocks.galleryGuide %}
<section id="galleryGuide">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.galleryGuide) }}
  </div>
</section>
{% endif %}

{% if page.blocks.collectionGuide %}
<section id="collectionGuide">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.collectionGuide) }}
  </div>
</section>
{% endif %}

{% if page.blocks.imageFigure %}
<section id="imageFigureElement">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.imageFigure) }}
  </div>
</section>
{% endif %}

{% if page.blocks.imageText %}
<section id="imageTextElement">
  <div class="container">
    {{ getBlockElementsHtml(page.blocks.imageText) }}
  </div>
</section>
{% endif %}

{% if page.blocks.videoGuide %}
<section id="videoGuide">
  <div class="container">

    {{ getBlockElementsHtml(page.blocks.videoGuide) }}
  </div>
</section>
{% endif %}


</div>

{% endblock %}